{% extends "core/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load core_tags %}
{% block conteudo %}

    {{ block.super }}
    <a class="btn btn-xs btn-info" href="{% url "documentos:documento_list" %}">Listar Documentos</a>
    <hr>
    {% if object %}
        <a class="btn btn-xs btn-info" href="{% url "documentos:documento_versions" object.pk %}">Listar Historico de Modificações</a>
        <hr>
    {% endif %}

    {% if form %}

        {% crispy form %}

    {% else %}
        Nada aqui
    {% endif %}


{% endblock conteudo %}

