{% extends "core/base.html" %}
{% load core_tags %}
{% load bootstrap_pagination %}


{% block conteudo %}
    {{ block.super }}
    <a class="btn btn-xs btn-info" href="{% url "artigo_list" %}">Listar Artigos</a>
    <hr>

    {#    {% if object %}#}
    {#        Objeto: {% render_object object %}#}
    {#    {% endif %}#}

    {% if object_versions_list %}
        <ul>
            {% for obj in object_versions_list %}
                Objeto item: {% render_object obj %}
            {% endfor %}
        </ul>

        {% if version_page_obj %}
{#            {% if version_page_obj.number > 1 %}#}
                {% bootstrap_paginate version_page_obj %}
{#            {% endif %}#}
        {% endif %}
    {% endif %}


{% endblock conteudo %}
