{% extends "base_template.html" %}


{% block conteudo %}
    <div class="ui list">
        <div class="item">
            <a class="header" href="{% url "documentos:documento_create" %}">Cadastrar Novo documento</a>
            <div class="description">
               Vai para a pagina de cadastro de documento chatos
            </div>
        </div>

        <div class="item">
            <a class="header" href="{% url "documentos:documento_list" %}">Listar documentos</a>
            <div class="description">
               Vai para a pagina que lista documentos chatos
            </div>
        </div>

    </div>

{% endblock conteudo %}